/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}
.profil {
    width: 250px;
    background-color: #31363b;
}

.foto {
    max-width: 250px;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    padding-left: 20px;
}
.obsah {
    padding: 15 px 20px 15 px 20px;
   /*  padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px; */
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color:#bdc3c7;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.hlavicka {
    position: relative;
}
.logo {
    position: absolute;
    right: 10px;
    bottom: -25px;
    border-radius: 50%;
    background-color: #b92e81;
    }

    li {
        display: inline-block;
    }

    ul {
        padding-left: 0;
        background-color: ;
    }

    a {
        display: block;
        padding: 0.5em; 
        color:#bdc3c7;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    .portfolio a:hover {
        background-color: #e74c3c;
    }

    .portfolio {
        width: 100%;
    }

    .facebook a:hover {
        background-color:#3b5998;
    }

    .twitter a:hover {
        background-color: #1da1f2;
    }

    .odkazy {
        text-transform: uppercase;
        font-size: 15px;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
    .portfolio {
        text-transform: uppercase;
        font-size: 15px;
        border: 2px solid #3f464d;
        text-align: center;
       }

    .facebook {
        text-transform: uppercase;
        font-size: 15px;
        width: 50%;
        text-align: center;
    }

    .twitter {
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        text-align: center;
            }