/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}
.profil {
    width: 250px;
    background-color: #31363b;
}

.foto {
    max-width: 250px;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color:#bdc3c7;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    position: absolute;
    left: 190px;
    top: 150px;
    border-radius: 50%;
    background-color: #b92e81;
    }

    li {
        display: inline-block;
        padding: 0,5em;
    }

    ul {
        padding-left: 20px;
        background-color: ;
    }

    a {
        display: block;
        padding: 1em;   
        color:#bdc3c7;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    .portfolio a:hover {
        background-color: #e74c3c;
    }

    .facebook a:hover {
        background-color :#3b5998;
    }

    .twitter a:hover {
        background-color: #1da1f2;
    }

    .portfolio {
        text-transform: uppercase;
        font-size: 15px;
    
    }

    .facebook {
        text-transform: uppercase;
        font-size: 15px;
        
    }

    .twitter {
        text-transform: uppercase;
        font-size: 15px;
        
    }